In [1]:
%load_ext lab_black
import pandas as pd
import altair as alt
import numpy as np

___

# 1. Electricity Supply-Demand Balance

## 1.1 Annual Data

####### Link:
National Bureau of Statistics of China:https://data.stats.gov.cn/english/easyquery.htm?cn=C01
BP Statistics (just for double check):https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
####### Description:Utilizing China's national data, I would like to look into the trend of electricity supply-demand balance of China in past 20 years, laying a good foundation for further exploration of 2021 situation

In [2]:
df = pd.read_csv("./annual.csv")
df.head()

,Database???Annual,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Year£ºLATEST20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indicators,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,...,2010.0,2009.0,2008.0,2007.0,2006.0,2005.0,2004.0,2003.0,2002.0,2001.0
2,Total Electricity Available for Consumption(10...,NaN,74866.3,71509.2,65914.0,61204.4,58021.3,57830.5,54204.1,49767.7,...,41936.5,37032.7,34540.8,32712.4,28588.4,24940.8,21972.3,19032.2,16466.0,14724.1
3,Outputof Electricity(100 million kw.h),NaN,75034.3,71661.3,66044.5,61331.6,58145.7,57944.6,54316.4,49875.5,...,42071.6,37146.5,34668.8,32815.5,28657.3,25002.6,22033.1,19105.8,16540.0,14808.0
4,Production of Hydro Power Electricity(100 mill...,NaN,13044.4,12317.9,11978.7,11840.5,11302.7,10728.8,9202.9,8721.1,...,7221.7,6156.4,5851.9,4852.6,4357.9,3970.2,3535.4,2836.8,2879.7,2774.3

In [3]:
df_t = df.T
df.head()

,Database???Annual,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Year£ºLATEST20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indicators,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,...,2010.0,2009.0,2008.0,2007.0,2006.0,2005.0,2004.0,2003.0,2002.0,2001.0
2,Total Electricity Available for Consumption(10...,NaN,74866.3,71509.2,65914.0,61204.4,58021.3,57830.5,54204.1,49767.7,...,41936.5,37032.7,34540.8,32712.4,28588.4,24940.8,21972.3,19032.2,16466.0,14724.1
3,Outputof Electricity(100 million kw.h),NaN,75034.3,71661.3,66044.5,61331.6,58145.7,57944.6,54316.4,49875.5,...,42071.6,37146.5,34668.8,32815.5,28657.3,25002.6,22033.1,19105.8,16540.0,14808.0
4,Production of Hydro Power Electricity(100 mill...,NaN,13044.4,12317.9,11978.7,11840.5,11302.7,10728.8,9202.9,8721.1,...,7221.7,6156.4,5851.9,4852.6,4357.9,3970.2,3535.4,2836.8,2879.7,2774.3

In [4]:
df_okok = pd.DataFrame(df_t.values[1:], columns=df_t.values[0])

In [5]:
df_okok["Indicators"] = df_okok["Indicators"].astype(int)
df_okok["Indicators"] = df_okok["Indicators"].astype(str)
df_okok.columns

Index(['Year£ºLATEST20', 'Indicators',
       'Total Electricity Available for Consumption(100 million kw.h)',
       'Outputof Electricity(100 million kw.h)',
       'Production of Hydro Power Electricity(100 million kw.h)',
       'Production of Thermal Power Electricity(100 million kw.h)',
       'Production of Nuclear Power Electricity(100 million kw.h)',
       'Production of Wind Power Electricity(100 million kw.h)',
       'Imports of Electricity(100 million kw.h)',
       'Exports of Electricity(100 million kw.h)',
       'Total Electricity Consumption(100 million kw.h)',
       'Total Electricity Consumption Agriculture Forestry Animal Husbandry and Fishery(100 million kw.h)',
       'Total Electricity Consumption Industry(100 million kw.h)',
       'Total Electricity Consumption Construction(100 million kw.h)',
       'Total Electricity Consumption Transport Storage and Post(100 million kw.h)',
       'Total Electricity Consumption Wholesale and Retail Trades Hotels and Catering Services(100 million kw.h)',
       'Total Electricity Consumption Others(100 million kw.h)',
       'Total Electricity Consumption Residential(100 million kw.h)',
       'Total Electricity Consumption End-use(100 million kw.h)',
       'Total Electricity Consumption Industry End-use(100 million kw.h)',
       'Losses in Transmission(100 million kw.h)',
       'Data Sources£ºNational Bureau of Statistics'],
      dtype='object')

In [6]:
df_new = pd.DataFrame(
    df_okok[
        [
            "Indicators",
            "Outputof Electricity(100 million kw.h)",
            "Total Electricity Consumption(100 million kw.h)",
        ]
    ]
)

In [7]:
df_new = df_new.drop([0])
df_new.columns
# Finally good to go！！ 😭

Index(['Indicators', 'Outputof Electricity(100 million kw.h)',
       'Total Electricity Consumption(100 million kw.h)'],
      dtype='object')

In [20]:
df_new = df_new.set_index("Indicators")

In [31]:
df_new = df_new.sort_index(ascending=True)
df_new

,Outputof Electricity(100 million kw.h),Total Electricity Consumption(100 million kw.h)
Indicators,,
2001,14808.0,14723.5
2002,16540.0,16465.5
2003,19105.8,19031.6
2004,22033.1,21971.4
2005,25002.6,24940.3
2006,28657.3,28588.0
2007,32815.5,32711.8
2008,34668.8,34541.4
2009,37146.5,37032.2
2010,42071.6,41934.5
2011,47130.2,47000.9
2012,49875.5,49762.6
2013,54316.4,54203.4
2014,57944.6,57829.7
2015,58145.7,58020.0
2016,61331.6,61205.1
2017,66044.5,65914.0
2018,71661.3,71508.2
2019,75034.3,74866.1

In [34]:
# using Altair draw Layered Area Chart for "Outputof Electricity(100 million kw.h)" & "Total Electricity Consumption(100 million kw.h)"
# https://altair-viz.github.io/gallery/layered_area_chart.html
alt.Chart(df_new).mark_area(opacity=0.3).encode(
    x="Indicators:T",
    y=alt.Y("Outputof Electricity(100 million kw.h):Q", stack=None),
    color="source:N",9
)

alt.Chart(...)

####### Findings:

# 2.Electricity generation & consumption from 2011 to 2019

## 2.1 Electricity generation by source (yearly)

####### Link:https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26
####### Description:with "Electricity production (GWh) in China by source, 2008-2020" from Wikipedia, I will calculate the percentage of each category (fossil, nuclear and renewable) among the total. Then I would like to draw a normalized stacked area chart to see the trend of proportion of electricity generated by different categories

### web script

In [11]:
url_es = "https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26"

In [12]:
page_es = pd.read_html(url_es, attrs={"class": "wikitable sortable"})

In [13]:
df_es = pd.DataFrame(page_es[0])

In [14]:
df_es

    Year    Total         Fossil                               Nuclear  \
    Year    Total           Coal            Oil            Gas Nuclear
0   2008  3481985        2743767          23791          31028   68394
1   2009  3741961        2940751          16612          50813   70134
2   2010  4207993        3250409          13236          69027   73880
3   2011  4715761        3723315           7786          84022   86350
4   2012  4994038        3785022           6698          85686   97394
5   2013  5447231        4110826           6504          90602  111613
6   2014  5678945        4115215           9517         114505  132538
7   2015  5859958        4108994           9679         145346  170789
8   2016  6217907        4241786          10367         170488  213287
9   2017  6452900        4178200           2700         203200  248100
10  2018  6994700        4482900           1500         215500  295000
11  2019  7326900        4553800           1300         232500  348700
12  2020  7623600  5,174,300[29]  5,174,300[29]  5,174,300[29]  366200

   Renewable                                                                 \
       Hydro    Wind Solar PV  Biofuels     Waste Solar thermal Geo-thermal
0     585187   14800      152   14715.0       0.0           0.0       144.0
1     615640   26900      279   20700.0       0.0           0.0       125.0
2     722172   44622      699   24750.0    9064.0           2.0       125.0
3     698945   70331     2604   31500.0   10770.0           6.0       125.0
4     872107   95978     6344   33700.0   10968.0           9.0       125.0
5     920291  141197    15451   38300.0   12304.0          26.0       109.0
6    1064337  156078    29195   44437.0   12956.0          34.0       125.0
7    1130270  185766    45225   52700.0   11029.0          27.0       125.0
8    1193374  237071    75256   64700.0   11413.0          29.0       125.0
9    1194700  304600   117800   81300.0   81300.0           NaN         NaN
10   1232100  365800   176900   93600.0   93600.0           NaN         NaN
11   1302100  405300   224000  112600.0  112600.0           NaN         NaN
12   1355200  466500   261100       NaN       NaN           NaN         NaN

         Total renewable % renewable
    Tide Total renewable % renewable
0    7.0          615005      17.66%
1    7.0          663651      17.74%
2    7.0          801441      19.05%
3    7.0          814288      17.27%
4    7.0         1019238      20.41%
5    8.0         1127686      20.70%
6    8.0         1307170      23.02%
7    8.0         1425180      24.32%
8   11.0         1581979      25.44%
9    NaN         1700000      26.34%
10   NaN         1868400      26.71%
11   NaN         2044000      27.76%
12   NaN   2,082,800[30]      27.32%

### 🌟 deal with multiIndex issue

In [15]:
# to progress to the next step, I have to convert MultiIndex into a Single one
lst = df_es.values
df_es = pd.DataFrame(lst, columns=[_[1] for _ in df_es.keys()])

In [16]:
df_es.columns = df_es.columns.str.strip().str.lower()
df_es

,year,total,coal,oil,gas,nuclear,hydro,wind,solar pv,biofuels,waste,solar thermal,geo-thermal,tide,total renewable,% renewable
0,2008,3481985,2743767,23791,31028,68394,585187,14800,152,14715.0,0.0,0.0,144.0,7.0,615005,17.66%
1,2009,3741961,2940751,16612,50813,70134,615640,26900,279,20700.0,0.0,0.0,125.0,7.0,663651,17.74%
2,2010,4207993,3250409,13236,69027,73880,722172,44622,699,24750.0,9064.0,2.0,125.0,7.0,801441,19.05%
3,2011,4715761,3723315,7786,84022,86350,698945,70331,2604,31500.0,10770.0,6.0,125.0,7.0,814288,17.27%
4,2012,4994038,3785022,6698,85686,97394,872107,95978,6344,33700.0,10968.0,9.0,125.0,7.0,1019238,20.41%
5,2013,5447231,4110826,6504,90602,111613,920291,141197,15451,38300.0,12304.0,26.0,109.0,8.0,1127686,20.70%
6,2014,5678945,4115215,9517,114505,132538,1064337,156078,29195,44437.0,12956.0,34.0,125.0,8.0,1307170,23.02%
7,2015,5859958,4108994,9679,145346,170789,1130270,185766,45225,52700.0,11029.0,27.0,125.0,8.0,1425180,24.32%
8,2016,6217907,4241786,10367,170488,213287,1193374,237071,75256,64700.0,11413.0,29.0,125.0,11.0,1581979,25.44%
9,2017,6452900,4178200,2700,203200,248100,1194700,304600,117800,81300.0,81300.0,NaN,NaN,NaN,1700000,26.34%
10,2018,6994700,4482900,1500,215500,295000,1232100,365800,176900,93600.0,93600.0,NaN,NaN,NaN,1868400,26.71%
11,2019,7326900,4553800,1300,232500,348700,1302100,405300,224000,112600.0,112600.0,NaN,NaN,NaN,2044000,27.76%
12,2020,7623600,"5,174,300[29]","5,174,300[29]","5,174,300[29]",366200,1355200,466500,261100,NaN,NaN,NaN,NaN,NaN,"2,082,800[30]",27.32%

In [17]:
df_es.drop(labels=[12], axis=0, inplace=False)

,year,total,coal,oil,gas,nuclear,hydro,wind,solar pv,biofuels,waste,solar thermal,geo-thermal,tide,total renewable,% renewable
0,2008,3481985,2743767,23791,31028,68394,585187,14800,152,14715.0,0.0,0.0,144.0,7.0,615005,17.66%
1,2009,3741961,2940751,16612,50813,70134,615640,26900,279,20700.0,0.0,0.0,125.0,7.0,663651,17.74%
2,2010,4207993,3250409,13236,69027,73880,722172,44622,699,24750.0,9064.0,2.0,125.0,7.0,801441,19.05%
3,2011,4715761,3723315,7786,84022,86350,698945,70331,2604,31500.0,10770.0,6.0,125.0,7.0,814288,17.27%
4,2012,4994038,3785022,6698,85686,97394,872107,95978,6344,33700.0,10968.0,9.0,125.0,7.0,1019238,20.41%
5,2013,5447231,4110826,6504,90602,111613,920291,141197,15451,38300.0,12304.0,26.0,109.0,8.0,1127686,20.70%
6,2014,5678945,4115215,9517,114505,132538,1064337,156078,29195,44437.0,12956.0,34.0,125.0,8.0,1307170,23.02%
7,2015,5859958,4108994,9679,145346,170789,1130270,185766,45225,52700.0,11029.0,27.0,125.0,8.0,1425180,24.32%
8,2016,6217907,4241786,10367,170488,213287,1193374,237071,75256,64700.0,11413.0,29.0,125.0,11.0,1581979,25.44%
9,2017,6452900,4178200,2700,203200,248100,1194700,304600,117800,81300.0,81300.0,NaN,NaN,NaN,1700000,26.34%
10,2018,6994700,4482900,1500,215500,295000,1232100,365800,176900,93600.0,93600.0,NaN,NaN,NaN,1868400,26.71%
11,2019,7326900,4553800,1300,232500,348700,1302100,405300,224000,112600.0,112600.0,NaN,NaN,NaN,2044000,27.76%

# clean data
df_es["coal"] = (
    df_es["coal"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["oil"] = (
    df_es["oil"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["gas"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["total renewable"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[30]", "", regex=False)
    .str.replace(",", "", regex=False)
)

### calculate the percentage

In [18]:
# convert all columns into integer type so that I can calculate
df_es = df_es.apply(pd.to_numeric)

ValueError: Unable to parse string "5,174,300[29]" at position 12

In [ ]:
# Also, I need to set year as an index
df_es = df_es.set_index("year")

In [ ]:
df_es["% coal"] = (df_es["coal"]) / df_es["total"] * 100
df_es["% oil"] = (df_es["oil"]) / df_es["total"] * 100
df_es["% gas"] = (df_es["gas"]) / df_es["total"] * 100
df_es["% nuclear"] = (df_es["nuclear"]) / df_es["total"] * 100
df_es["% hydro"] = (df_es["hydro"]) / df_es["total"] * 100
df_es["% wind"] = (df_es["wind"]) / df_es["total"] * 100
df_es["% solar pv"] = (df_es["solar pv"]) / df_es["total"] * 100
df_es["% biofuels"] = (df_es["biofuels"]) / df_es["total"] * 100
df_es["% waste"] = (df_es["waste"]) / df_es["total"] * 100
df_es["% others"] = (
    (df_es["solar thermal"] + df_es["geo-thermal"] + df_es["tide"])
    / df_es["total"]
    * 100
)
df_es

### 🌟 draw a normalized stacked area chart

In [ ]:
# selcet needed data

In [ ]:
pct_es = df_es[
    [
        "% coal",
        "% oil",
        "% gas",
        "% nuclear",
        "% hydro",
        "% wind",
        "% solar pv",
        "% biofuels",
        "% waste",
        "% others",
    ]
]
pct_es = pct_es.reset_index()

pct_es

In [ ]:
chart_es = pd.DataFrame(columns=["year", "type", "pct"])
chart_es.append(pct_es["year"],pct_es["% coal"])

___

In [ ]:
# since I have no idea bout how to draw this chart, I need to refer to others' dataset to see how they make it.
!pip install vega_datasets
from vega_datasets import data

In [ ]:
data.stocks()
# now, I figure out that I need to reorganize my data

___import altair as alt
from vega_datasets import data

source = data.iowa_electricity()

alt.Chart(source).mark_area().encode(x="year:T", y="net_generation:Q", color="source:N")

In [ ]:
import altair as alt
from vega_datasets import data

source = data.iowa_electricity()

alt.Chart(source).mark_area().encode(x="year:T", y="net_generation:Q", color="source:N")

source pandas.melt

### 😷need some time to figure it out

# 1.2 Electricity dicrepancy (yearly)

# 1.3.1 2021 electricity generation by source(monthly)

# 1.3.2 2021 electricity discrepancy(monthly)