In [1]:
%load_ext lab_black
import pandas as pd
import altair as alt
import numpy as np

___

# 1. Electricity Supply-Demand Balance

## 1.1 Annual Data

####### Link:
National Bureau of Statistics of China:https://data.stats.gov.cn/english/easyquery.htm?cn=C01
BP Statistics (just for double check):https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
####### Description:Utilizing China's national data, I would like to look into the trend of electricity supply-demand balance of China in past 20 years, laying a good foundation for further exploration of 2021 situation

### read data

In [2]:
df = pd.read_csv("./annual.csv")
df.head()

,Database???Annual,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Year£ºLATEST20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indicators,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,...,2010.0,2009.0,2008.0,2007.0,2006.0,2005.0,2004.0,2003.0,2002.0,2001.0
2,Total Electricity Available for Consumption(10...,NaN,74866.3,71509.2,65914.0,61204.4,58021.3,57830.5,54204.1,49767.7,...,41936.5,37032.7,34540.8,32712.4,28588.4,24940.8,21972.3,19032.2,16466.0,14724.1
3,Outputof Electricity(100 million kw.h),NaN,75034.3,71661.3,66044.5,61331.6,58145.7,57944.6,54316.4,49875.5,...,42071.6,37146.5,34668.8,32815.5,28657.3,25002.6,22033.1,19105.8,16540.0,14808.0
4,Production of Hydro Power Electricity(100 mill...,NaN,13044.4,12317.9,11978.7,11840.5,11302.7,10728.8,9202.9,8721.1,...,7221.7,6156.4,5851.9,4852.6,4357.9,3970.2,3535.4,2836.8,2879.7,2774.3

### transpose rows and columns

In [3]:
df_t = df.T
df_t.head(22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Database???Annual,Year£ºLATEST20,Indicators,Total Electricity Available for Consumption(10...,Outputof Electricity(100 million kw.h),Production of Hydro Power Electricity(100 mill...,Production of Thermal Power Electricity(100 mi...,Production of Nuclear Power Electricity(100 mi...,Production of Wind Power Electricity(100 milli...,Imports of Electricity(100 million kw.h),Exports of Electricity(100 million kw.h),...,Total Electricity Consumption Industry(100 mil...,Total Electricity Consumption Construction(100...,Total Electricity Consumption Transport Storag...,Total Electricity Consumption Wholesale and Re...,Total Electricity Consumption Others(100 milli...,Total Electricity Consumption Residential(100 ...,Total Electricity Consumption End-use(100 mill...,Total Electricity Consumption Industry End-use...,Losses in Transmission(100 million kw.h),Data Sources£ºNational Bureau of Statistics
Unnamed: 1,NaN,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,2019.0,74866.3,75034.3,13044.4,52201.5,3483.5,4060.3,48.6,216.5,...,50698.3,991.2,1752.3,3187.1,6263.8,10637.2,71536.0,47368.2,3330.1,NaN
Unnamed: 3,NaN,2018.0,71509.2,71661.3,12317.9,50963.2,2943.6,3659.7,56.9,209.1,...,49094.9,887.8,1608.5,2900.4,5716.5,10057.6,68156.5,45743.2,3351.7,NaN
Unnamed: 4,NaN,2017.0,65914.0,66044.5,11978.7,47546.0,2480.7,2972.3,64.2,194.7,...,46052.8,789.2,1418.0,2526.6,4880.6,9071.6,62718.1,42857.0,3195.8,NaN
Unnamed: 5,NaN,2016.0,61204.4,61331.6,11840.5,44370.7,2132.9,2370.7,61.9,189.1,...,42996.9,725.6,1251.5,2323.8,4394.8,8420.6,58142.2,39934.0,3062.9,NaN
Unnamed: 6,NaN,2015.0,58021.3,58145.7,11302.7,42841.9,1707.9,1857.7,62.1,186.5,...,41550.0,698.7,1125.6,2122.0,3918.6,7565.2,55032.1,38562.1,2987.9,NaN
Unnamed: 7,NaN,2014.0,57830.5,57944.6,10728.8,44001.1,1325.4,1599.8,67.5,181.6,...,42248.7,721.7,1059.2,1995.6,3615.0,7176.1,54729.8,39148.8,3099.9,NaN
Unnamed: 8,NaN,2013.0,54204.1,54316.4,9202.9,42470.1,1116.1,1412.0,74.4,186.7,...,39236.9,675.1,1000.9,1876.9,3397.6,6989.2,51062.7,36096.2,3140.7,NaN
Unnamed: 9,NaN,2012.0,49767.7,49875.5,8721.1,38928.1,973.9,959.8,68.7,176.5,...,36232.2,608.4,915.4,1691.5,3083.6,6219.0,46866.5,33336.1,2896.2,NaN
Unnamed: 10,NaN,2011.0,47002.7,47130.2,6989.4,38337.0,863.5,703.3,65.6,193.1,...,34691.6,571.8,848.4,1503.1,2753.1,5620.1,44300.2,31990.8,2700.7,NaN
Unnamed: 11,NaN,2010.0,41936.5,42071.6,7221.7,33319.3,738.8,446.2,55.5,190.6,...,30871.8,483.2,734.5,1292.0,2451.8,5124.6,39366.3,28303.5,2568.2,NaN
Unnamed: 12,NaN,2009.0,37032.7,37146.5,6156.4,29827.8,701.3,NaN,60.1,173.9,...,26854.5,421.9,617.0,1136.8,2189.9,4872.2,34773.9,24596.3,2258.2,NaN
Unnamed: 13,NaN,2008.0,34540.8,34668.8,5851.9,27900.8,683.9,NaN,38.4,166.4,...,25388.6,367.3,571.8,1017.4,1913.0,4396.1,32403.5,23250.8,2137.9,NaN
Unnamed: 14,NaN,2007.0,32712.4,32815.5,4852.6,27229.3,621.3,NaN,42.5,145.7,...,24290.8,309.0,531.9,929.8,1708.6,4062.7,30650.1,22229.1,2061.7,NaN
Unnamed: 15,NaN,2006.0,28588.4,28657.3,4357.9,23696.0,548.4,NaN,53.9,122.7,...,21267.7,271.0,467.4,847.3,1555.9,3351.6,26729.1,19408.9,1858.8,NaN
Unnamed: 16,NaN,2005.0,24940.8,25002.6,3970.2,20473.4,530.9,NaN,50.1,111.9,...,18521.7,233.9,430.3,752.3,1340.9,2884.8,23233.8,16815.2,1706.5,NaN
Unnamed: 17,NaN,2004.0,21972.3,22033.1,3535.4,17955.9,504.7,NaN,34.0,94.8,...,16424.3,202.1,449.6,705.4,1036.6,2384.5,20550.8,15003.7,1420.6,NaN
Unnamed: 18,NaN,2003.0,19032.2,19105.8,2836.8,15803.6,433.4,NaN,29.8,103.4,...,14169.7,179.8,406.9,613.0,911.0,2058.0,17770.9,12909.0,1260.7,NaN
Unnamed: 19,NaN,2002.0,16466.0,16540.0,2879.7,13381.4,251.3,NaN,23.0,97.0,...,12402.2,154.1,303.0,500.0,728.5,1771.4,15296.8,11233.5,1168.7,NaN
Unnamed: 20,NaN,2001.0,14724.1,14808.0,2774.3,11834.3,174.7,NaN,18.0,101.9,...,10944.7,154.9,309.3,459.9,663.1,1609.2,13690.0,9911.2,1033.5,NaN

### 🌟reorganize table

In [15]:
# make the first row as index
df_new = pd.DataFrame(df_t.values[1:], columns=df_t.values[0])

In [16]:
# drop empty row
df_new = df_new.drop([0])

In [17]:
# extract the data that I need
df_new = df_new.loc[
    :,
    [
        "Indicators",
        "Outputof Electricity(100 million kw.h)",
        "Total Electricity Consumption(100 million kw.h)",
    ],
]

In [18]:
# rename columns
df_new.columns = ["Year", "Production", "Consumption"]

In [19]:
#change data types
df_new["Year"] = pd.to_datetime(df_new["Year"].astype("int").astype("str")).astype(
    "datetime64[Y]"
)
df_new["Production"] = df_new["Production"].astype("float")
df_new["Consumption"] = df_new["Consumption"].astype("float")

In [22]:
# reorder years
df_new = pd.DataFrame(df_new.sort_values(by="Year", ascending=True))
df_new

         Year  Production  Consumption
19 2001-01-01     14808.0      14723.5
18 2002-01-01     16540.0      16465.5
17 2003-01-01     19105.8      19031.6
16 2004-01-01     22033.1      21971.4
15 2005-01-01     25002.6      24940.3
14 2006-01-01     28657.3      28588.0
13 2007-01-01     32815.5      32711.8
12 2008-01-01     34668.8      34541.4
11 2009-01-01     37146.5      37032.2
10 2010-01-01     42071.6      41934.5
9  2011-01-01     47130.2      47000.9
8  2012-01-01     49875.5      49762.6
7  2013-01-01     54316.4      54203.4
6  2014-01-01     57944.6      57829.7
5  2015-01-01     58145.7      58020.0
4  2016-01-01     61331.6      61205.1
3  2017-01-01     66044.5      65914.0
2  2018-01-01     71661.3      71508.2
1  2019-01-01     75034.3      74866.1

In [27]:
# Finally good to go！！ 😭

### draw chart

In [35]:
# using Altair draw Layered Area Chart for "Outputof Electricity(100 million kw.h)" & "Total Electricity Consumption(100 million kw.h)"
# https://altair-viz.github.io/gallery/layered_area_chart.html

## First Drawing
base_figure = alt.Chart(df_new).encode(x="Year")
alt.layer(
    base_figure.mark_area(opacity=0.3, color="blue").encode(y="Production:Q"),
    base_figure.mark_area(opacity=0.3, color="red").encode(y="Consumption:Q"),
)
## blue+red=purlple...the result is too similar to be observed

alt.LayerChart(...)

In [31]:
# Calculate the Discrepancy so that I can draw the difference
df_new["P-C"] = df_new["Production"] - df_new["Consumption"]

In [37]:
## Second Drawing
base_figure = alt.Chart(df_new).encode(x="Year")
alt.layer(base_figure.mark_area(opacity=0.3, color="green").encode(y="P-C:Q"))

alt.LayerChart(...)

####### Findings:

## 1.2 Electricity Monthly

In [ ]:
### clean data

In [38]:
df_2 = pd.read_csv("./monthly.csv")

In [40]:
df_2.columns = df_2.columns.str.strip().str.lower()
df_2

,electricity generation twh,unit,value,yoy(%),accumulation,yoy(%).1,month
0,Electricity Generation,TWh,1242.8,19.5,NaN,NaN,February
1,-- Hydro,TWh,129.2,8.5,NaN,NaN,February
2,-- Thermal,TWh,939.0,18.4,NaN,NaN,February
3,-- Nuclear,TWh,58.4,23.4,NaN,NaN,February
4,Total Electricity Consumption,TWh,1258.8,22.2,NaN,NaN,February
...,...,...,...,...,...,...,...
139,-- Hydro,GW,NaN,NaN,384.52,5.1,October
140,-- Thermal,GW,NaN,NaN,"1,282.89",3.6,October
141,-- Nuclear,GW,NaN,NaN,53.26,6.8,October
142,-- Wind,GW,NaN,NaN,299.63,30.4,October
143,--Solar,GW,NaN,NaN,282.14,23.7,October

In [ ]:
df_2["electricity generation twh"] = (
    df_2["electricity generation twh"]
    .str.replace("-- Hydro", "Hydro", regex=False)
    .str.replace("-- Thermal", "Thermal", regex=False)
    .str.replace("-- Nuclear", "Nuclear", regex=False)
)

In [ ]:
df_2 = df_2.set_index("month")

In [ ]:
#generation&consumption disperancy

## 2.Power Resoucres

####### Link:https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26
####### Description:with "Electricity production (GWh) in China by source, 2008-2020" from Wikipedia, I will calculate the percentage of each category (fossil, nuclear and renewable) among the total. Then I would like to draw a normalized stacked area chart to see the trend of proportion of electricity generated by different categories

### web script

In [ ]:
url = "https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26"

In [ ]:
page = pd.read_html(url, attrs={"class": "wikitable sortable"})

In [ ]:
df_3 = pd.DataFrame(page[0])

In [ ]:
df_3

### 🌟 deal with multiIndex issue

In [ ]:
# to progress to the next step, I have to convert MultiIndex into a Single one
lst = df_3.values
df_3 = pd.DataFrame(lst, columns=[_[0] for _ in df_3.keys()])

In [ ]:
df_3.columns = df_3.columns.str.strip().str.lower()

In [ ]:
df_es.drop(labels=[12], axis=0, inplace=False)

# clean data
df_es["coal"] = (
    df_es["coal"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["oil"] = (
    df_es["oil"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["gas"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["total renewable"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[30]", "", regex=False)
    .str.replace(",", "", regex=False)
)

### calculate the percentage

In [ ]:
# convert all columns into integer type so that I can calculate
df_es = df_es.apply(pd.to_numeric)

In [ ]:
# Also, I need to set year as an index
df_es = df_es.set_index("year")

In [ ]:
df_es["% coal"] = (df_es["coal"]) / df_es["total"] * 100
df_es["% oil"] = (df_es["oil"]) / df_es["total"] * 100
df_es["% gas"] = (df_es["gas"]) / df_es["total"] * 100
df_es["% nuclear"] = (df_es["nuclear"]) / df_es["total"] * 100
df_es["% hydro"] = (df_es["hydro"]) / df_es["total"] * 100
df_es["% wind"] = (df_es["wind"]) / df_es["total"] * 100
df_es["% solar pv"] = (df_es["solar pv"]) / df_es["total"] * 100
df_es["% biofuels"] = (df_es["biofuels"]) / df_es["total"] * 100
df_es["% waste"] = (df_es["waste"]) / df_es["total"] * 100
df_es["% others"] = (
    (df_es["solar thermal"] + df_es["geo-thermal"] + df_es["tide"])
    / df_es["total"]
    * 100
)
df_es

### 🌟 draw a normalized stacked area chart

In [ ]:
# selcet needed data

In [ ]:
pct_es = df_es[
    [
        "% coal",
        "% oil",
        "% gas",
        "% nuclear",
        "% hydro",
        "% wind",
        "% solar pv",
        "% biofuels",
        "% waste",
        "% others",
    ]
]
pct_es = pct_es.reset_index()

pct_es

In [ ]:
chart_es = pd.DataFrame(columns=["year", "type", "pct"])
chart_es.append(pct_es["year"],pct_es["% coal"])

___

In [ ]:
# since I have no idea bout how to draw this chart, I need to refer to others' dataset to see how they make it.
!pip install vega_datasets
from vega_datasets import data

In [ ]:
data.stocks()
# now, I figure out that I need to reorganize my data

___import altair as alt
from vega_datasets import data

source = data.iowa_electricity()

alt.Chart(source).mark_area().encode(x="year:T", y="net_generation:Q", color="source:N")

In [ ]:
import altair as alt
from vega_datasets import data

source = data.iowa_electricity()

alt.Chart(source).mark_area().encode(x="year:T", y="net_generation:Q", color="source:N")

source pandas.melt

### 😷need some time to figure it out